.display-tree-small{
  background: url('../images/tree.jpeg');
  background-repeat: no-repeat;
  height:200px;
  width:200px;
  border: solid black 2px;
}

.display-tree-big{
  background: url('../images/tree_big.jpg');
  background-repeat: no-repeat;
  height:100px;
  width:100px;
  border: solid black 2px;
}

#orange-tree-template { display: none; }


/* Add more styles here*/
